.clearfix:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
    background-color: #ffffff;
}

body {
    font-family: 'Oxygen', sans-serif;
    background-color: tomato;
}

nav {
    width: 100%;
    background-color: rgb(71, 63, 63);
}

.contain {
    margin: 0 auto;
    width: 100%;
}

.container {
    color: white;
    text-align: center;
}

.logo {
    float: left;
}

.menu {
    float: right;
    margin: 2% auto;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(71, 63, 63);
}

.menu li {
    float: right;
    border-left: 2px solid white;
    padding-top: 0;
    padding-bottom: 0;
}

.menu li:last-child {
    border-left: none;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    background-color: #f01e1e;
}

main {
    width: 60%;
    margin: 20px auto 25px auto;
    padding: 10px 20px 10px 20px;
    background: tomato;
    color: white;
    width: 960px;
    line-height: 1.6;
}

.parent {
    position: relative;
    margin: 20px 20px;
    width: 275px;
    height: 310px;
    float: left;
}

.child {
    position: absolute;
    top: 140px;
    width: 100%;
    padding: 20px 0 20px 0;
    background-color: rgb(71, 63, 63);
    color: white;
    text-align: center;
    font-size: 18px;
}

main img {
    float: left;
    margin: 0 20px 30px 0;
}

footer {
    background-color: rgb(71, 63, 63);
    border-top: 12px solid rgb(99, 95, 95);
    text-align: center;
    padding-top: 14px;
    color: white;
}

h1 {
    font-size: 72px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 26px;
    color: white;
}

h4 {
    color: white;
    text-align: center;
}

img {
    border-radius: 50%;
    margin: 5% 20% 1% 20%;
}

.description {
    color: white;
    text-align: center;
    font-size: 26px;
}

.contactinfo {
    color: white;
    text-align: center;
    font-size: 14px;
}

form {
    color: white;
    background-color: rgb(99, 95, 95)e;
}

.bar {
    font-size: 14px;
    color: white;
    line-height: 30 px;
    padding-bottom: 16px;
}

.star {
    display: flex;
    justify-content: center;
    align-content: center;
}

.half {
    width: 15%;
    height: 6px;
    background-color: white;
    margin: auto 25px;
    padding: auto;
}